<ion-view title="Change Password" id="page10" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="changePassword-form4" class="list">
      <ion-list id="changePassword-list10">
        <label class="item item-input item-floating-label" id="changePassword-input11" name="opassword">
          <span class="input-label">Old Password</span>
          <input placeholder="Old Password" type="password">
        </label>
        <label class="item item-input item-floating-label" id="changePassword-input13" name="npassword">
          <span class="input-label">New Password</span>
          <input placeholder="New Password" type="password">
        </label>
        <label class="item item-input item-floating-label" id="changePassword-input14" name="rpassword">
          <span class="input-label">Confirm Password</span>
          <input placeholder="Confirm Password" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="changePassword-button9" class="button button-positive  button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>