<ion-view title="Chat Mate" id="page2" style="">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="chatMate-list7">
      <ion-item class="item-avatar" id="chatMate-list-item22" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatMate-list-item42" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatMate-list-item43" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatMate-list-item44" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatMate-list-item45" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatMate-list-item46" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatMate-list-item47" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatMate-list-item48" style="">
        <img src="img/YHdyJOfoT6SIi6pv3yK2_images.jpg">
        <h2>Arindam Basu</h2>
        <p>March 29</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>