<ion-view title="Chat Mate" id="page3" style="">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <ion-list id="chatMate2-list6">
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item10" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item58" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item59" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item60" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item61" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item62" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item63" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatMate2-list-item64" style="">
        <img src="img/dxGy2vMRQHYINvA01vcU_images.jpg">
        <h2>Rohit Sharma</h2>
        <p>10 minutes ago</p>
        <i class="icon ion-android-call"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>