<ion-view title="Chat Mate" id="page4" style="">
  <ion-content padding="true" class=" manual-remove-top-padding has-header" scroll="false">
    <ion-list id="chatMate3-list1" class="manual-list-fullwidth">
      <ion-item class="item-icon-left item-icon-right" id="chatMate3-list-item1" style="">
        <i class="icon ion-edit"></i>Edit Profile
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="chatMate3-list-item2" style="">
        <i class="icon ion-android-unlock"></i>Change Password
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="chatMate3-list-item67" style="">
        <i class="icon ion-heart"></i>My Favourites
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="chatMate3-list-item3" style="">
        <i class="icon ion-card"></i>My Wallet
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="chatMate3-list-item65" style="">
        <i class="icon ion-android-clipboard"></i>Privacy Policy
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="chatMate3-list-item66" style="">
        <i class="icon ion-android-bookmark"></i>Terms &amp; Conditions
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="chatMate3-list-item4" style="">
        <i class="icon ion-log-out"></i>Logout
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>