<ion-view title="Create A New Account" id="page7" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="createANewAccount-form2" class="list">
      <ion-list id="createANewAccount-list3">
        <label class="item item-input item-floating-label" id="createANewAccount-input3" name="name">
          <span class="input-label">Full Name</span>
          <input placeholder="Full Name" type="text">
        </label>
        <label class="item item-input item-floating-label" id="createANewAccount-input4" name="email">
          <span class="input-label">Email Address</span>
          <input placeholder="Email Address" type="email">
        </label>
        <label class="item item-input item-floating-label" id="createANewAccount-input8" name="Phone">
          <span class="input-label">Phone Number</span>
          <input placeholder="Phone Number" type="tel">
        </label>
        <label class="item item-input item-floating-label" id="createANewAccount-input7" name="username">
          <span class="input-label">Username</span>
          <input placeholder="Username" type="text">
        </label>
        <label class="item item-input item-floating-label" id="createANewAccount-input5" name="password">
          <span class="input-label">Password</span>
          <input placeholder="Password" type="password">
        </label>
        <label class="item item-input item-floating-label" id="createANewAccount-input9" name="dob">
          <span class="input-label">Date of Birth</span>
          <input placeholder="Date of Birth" type="date">
        </label>
      </ion-list>
      <button id="createANewAccount-button7" class="button button-assertive  button-full">Create Account</button>
      <div id="createANewAccount-markdown3" class="show-list-numbers-and-dots text-center">
        <p style="color:#000000;">By clicking create ccount button you accept our Terms &amp; Conditions and our Privacy Policy </p>
      </div>
    </form>
  </ion-content>
</ion-view>