<ion-view title="Edit Profile" id="page12" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <form id="editProfile-form6" class="list">
      <ion-list id="editProfile-list12">
        <label class="item item-input item-floating-label" id="editProfile-input18" name="name">
          <span class="input-label">Full Name</span>
          <input placeholder="Full Name" type="text">
        </label>
        <label class="item item-input item-floating-label" id="editProfile-input19" name="email">
          <span class="input-label">Email Address</span>
          <input placeholder="Email Address" type="email">
        </label>
        <label class="item item-input item-floating-label" id="editProfile-input20" name="Phone">
          <span class="input-label">Phone Number</span>
          <input placeholder="Phone Number" type="tel">
        </label>
        <label class="item item-input item-floating-label" id="editProfile-input21" name="username">
          <span class="input-label">Username</span>
          <input placeholder="Username" type="text">
        </label>
        <label class="item item-input item-floating-label" id="editProfile-input23" name="dob">
          <span class="input-label">Date of Birth</span>
          <input placeholder="Date of Birth" type="date">
        </label>
      </ion-list>
      <button id="editProfile-button13" class="button button-assertive  button-full">Submit</button>
    </form>
  </ion-content>
</ion-view>