<ion-view title="Forgot Password" id="page8" style="">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <form id="forgotPassword-form3" class="list">
      <ion-list id="forgotPassword-list4">
        <label class="item item-input item-floating-label" id="forgotPassword-input10" name="email">
          <span class="input-label">Email Address</span>
          <input placeholder="Email Address" type="email">
        </label>
      </ion-list>
      <div id="forgotPassword-markdown4" class="show-list-numbers-and-dots text-center padding">
        <p style="color:#000000;">A new password will be sent to this email address</p>
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <button id="forgotPassword-button8" class="button button-positive  button-full">Submit</button>
    </form>
  </ion-content>
</ion-view>