<ion-view title="Home Page" hide-nav-bar="true" id="page5" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 class="text-center" style="padding:50px 0;">CHAT MATE</h1>
    <a ui-sref="loginWithUs" id="homePage-button2" class="button button-positive  button-block button-outline">Login</a>
    <button id="homePage-button3" class="button button-assertive  button-block">Create New Account</button>
    <button id="homePage-button4" class="button button-dark  button-block">Forgot Password?</button>
  </ion-content>
</ion-view>