<ion-view title="Send Feedback" id="page14" style="">
  <ion-nav-buttons side="left" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
    <form id="sendFeedback-form7" class="list">
      <ion-list id="sendFeedback-list14">
        <label class="item item-input item-floating-label" id="sendFeedback-input24" name="FeedbackType">
          <span class="input-label">Feedback Type</span>
          <input placeholder="Feedback Type" type="text">
        </label>
        <label class="item item-input item-floating-label" id="sendFeedback-input26" name="Message">
          <span class="input-label">Message</span>
          <input placeholder="Message" type="text">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="sendFeedback-button14" class="button button-positive  button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>